extends layout

block content
  p(style='white-space:pre;')
    | motherpluckin db data fool for #{title}<br />
    | id: #{id}
    | name: #{name}
    | completed: #{completed}
    | note: #{note}
    <br /><br />
