extends layout

block content
  p(style='white-space:pre;')
    | motherpluckin db data fool for #{title}<br />
    | id: #{id}
    | name: #{name}
    | completed: #{completed}
    | note: #{note}
    <br /><br />

    form(method="post" action="/todos")
      label(for="new_todo") Enter New Todo here:
      input(type="text", name="name")
      input(type="submit", value="Submit")
